h1 {
    background-color: black;
    color: aliceblue;
    margin-right: 50%;
}


ANIMACION
*,*:after, *:before{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#contenedor_carga {
    background-color: rgba(250, 240, 245, 0.9);
    height: 100%;
    width: 100%;
    position:fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

#carga {
    border: 15px solic #ccc;
    border-top-color: #f4266a;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar {
    from{transform: rotate(0deg);}
    to { transform: rotate (360deg);}
}

ANIMACION


body, p, img, h4 {
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

h4 {
    background-color: antiquewhite;
}

article {
    width: 15%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    border: 1px solid #000000;
    flex-direction: column;
    align-self: center;
    background-color: antiquewhite;
    margin: 5px;
}



p {
    font-size: 16px;
    flex-direction: row;
    background-color: antiquewhite;
}

h1, p, h4, h2 {
    text-align: center;
    vertical-align: middle;
    flex-direction: row;
    
}

img {
    width:100px;
    height:140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

button {
    margin-left: 30px;
}

#primerSection{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}


#segundaSection {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

