h1 {
    background-color: black;
    color: aliceblue;
    margin-right: 50%;
}


ANIMACION


/* body {
    margin: 0;
    padding: 0;
    background: #121212;
@ -61,4 +63,72 @@ h1, p {
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 18px;
} */


ANIMACION


body, p, img, h4 {
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

h4 {
    background-color: antiquewhite;
}

article {
    width: 15%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    border: 1px solid #000000;
    flex-direction: column;
    align-self: center;
    background-color: antiquewhite;
    margin: 5px;
}



p {
    font-size: 16px;
    flex-direction: row;
    background-color: antiquewhite;
}

h1, p, h4, h2 {
    text-align: center;
    vertical-align: middle;
    flex-direction: row;
    
}

img {
    width:100px;
    height:140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

button {
    margin-left: 30px;
}



#segundaSection {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}